.menu {
  width: 250px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 11px 6px 25px 6px;
  margin-top: 27px;
}

.menu li {
  list-style: none;
  font-size: 14px;
}

.menu li:hover {
  text-decoration: underline;
  cursor: pointer;
}
