* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Arimo", sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1920px;
  padding: 30px 140px 30px 146px;
}
